#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a dokploy instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman dokploy.service
Requires=dokploy-redis.service dokploy-app.service dokploy-postgres.service 
Before=dokploy-redis.service dokploy-app.service dokploy-postgres.service 

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/dokploy.pid %t/dokploy.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/dokploy.pid  --pod-id-file %t/dokploy.pod-id  --name dokploy  --publish 127.0.0.1:${TCP_PORT}:3000  --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/dokploy.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/dokploy.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/dokploy.pod-id
PIDFile=%t/dokploy.pid
Type=forking

[Install]
WantedBy=default.target
