#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  dokploy-app.service
BindsTo=output.service
After=output.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/dokploy-app.pid %t/dokploy-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/dokploy-app.pid  --cidfile %t/dokploy-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/output.pod-id --replace -d --name  dokploy-app  --volume run-dockersock:/var/run/docker.sock:Z --volume etc-dokploy:/etc/dockploy:Z   --env-file dokploy.env  ${DOKPLOY_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/dokploy-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP dokploy-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/dokploy-app.ctr-id
PIDFile=%t/dokploy-app.pid
Type=forking

[Install]
WantedBy=default.target
