#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  soketi-app.service
BindsTo=coolify.service
After=coolify.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/soketi-app.pid %t/soketi-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/soketi-app.pid  --cidfile %t/soketi-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/coolify.pod-id --replace -d --name  soketi-app  --volume coolify-ssh:/var/www/html/storage/app/ssh:Z   --env-file soketi.env  ${COOLIFY_REALTIME_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/soketi-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP soketi-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/soketi-app.ctr-id
PIDFile=%t/soketi-app.pid
Type=forking

[Install]
WantedBy=default.target
